@using ShopCore.Enum
@using ShopData.Model
@model List<Menu>
@{
    var active = (string)(Session[SessionName.MenuActivity] != null 
        ? Session[SessionName.MenuActivity] 
        : "");
}

<header class="menu-standar">
    <!--Menu-->
    <div class="row">
        <div class="col-lg-12">
            <div class="flat-mega-menu">
                <!-- flat-mega-menu class -->
                <label for="mobile-button"> <i class="fa fa-bars"></i> </label>

                <!-- mobile click button to show menu -->
                <input id="mobile-button" type="checkbox">
                <ul class="collapse">
                    <!-- collapse class for collapse the drop down -->
                    <li class="title logo">
                        <a href="@Url.Action("Index","Home")">
                            <img src="~/Areas/Presentation/Content/img/content-general/logo.png" alt="Image Logo">
                        </a>
                    </li>
                    <!-- website title class -->

                    @foreach (var menu in Model)
                    {
                        var isActive = menu.Path.Contains(active) ? "activated" : "";

                        <li class="@isActive">
                            <a href="@menu.Path">@menu.Title</a>
                            @if (menu.Menu1 != null && menu.Menu1.Count > 0)
                            {
                                <div class="drop-down full-width hover-fade">
                                    @foreach (var mnLevel2 in menu.Menu1)
                                    {
                                        <ul>
                                            <li>
                                                <a href="@mnLevel2.Path"><h3>@mnLevel2.Title</h3></a>
                                            </li>
                                            @foreach (var mnLevel3 in mnLevel2.Menu1)
                                            {
                                                <li><a href="@mnLevel3.Path">@mnLevel3.Title</a></li>
                                            }
                                        </ul>
                                    }
                                </div>
                            }
                        </li>
                    }

                    <li class="bag-cart">
                        @{
                            Html.RenderPartial("_CartPartial");
                        }
                    </li>
                    <li class="search-bar" id="wishlist-bar">
                        @{
                            Html.RenderPartial("_WishlistPartial");
                        }
                    </li>

                    <li class="register-form"><a href="#">Register</a></li>
                    <li class="login-form">
                        <a href="#">Login</a>
                        <!-- login form -->
                        <ul class="drop-down hover-fade left">
                            <li>
                                <form class="loginform">
                                    <div class="form-group">
                                        <label for="InputEmail">email</label>
                                        <input type="email" class="form-control" id="InputEmail" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="InputPassword1">password</label>
                                        <input type="password" class="form-control" id="InputPassword1" placeholder="">
                                    </div>
                                    <div class="boton-dark"><a href="#">login</a></div>
                                    <a href="#" class="pss">Lost password?</a>
                                </form>
                            </li>
                        </ul>
                        <!-- login form -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Menu-->
</header>