@using ShopCore.Enum
@using ShopCore.Helper
@using ShopData.Model
@{
    List<MaskProduct> lstMask = ViewBag.ListMask;
    List<Category> lstMaskCategory = ViewBag.ListMaskCategory;
}

<div class="paddings">
    <div class="container">
        <!--Sort by list filter-->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                @*<div class="selector">
                    <select class="guests-input">
                        <option value="Newest" selected>Newest first</option>
                        <option value="Lastest">Lastest</option>
                        <option value="Orders">orders</option>
                        <option value="Categories">New Categories</option>
                    </select>
                    <span class="custom-select">Newest first</span>
                </div>*@
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="right filter-toggle">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Filter Toggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="filterdrop top-mini text-uppercase">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-5">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <h4>Categories</h4>
                        <div class="checkbox-shipping">
                            @foreach (var item in lstMaskCategory)
                            {
                                <label><input type="checkbox" class="chkCategory" value="@item.CategoryID"> @item.CategoryName</label>
                            }
                            <label><input type="checkbox" class="chkCategory" value="Jackets"> Jackets</label>
                            <label><input type="checkbox" class="chkCategory" value="shoes"> shoes</label>
                            <label><input type="checkbox" class="chkCategory" value="bags"> bags</label>
                            <label><input type="checkbox" class="chkCategory" value="shirt"> t-shirt</label>
                            <label><input type="checkbox" class="chkCategory" value="swearters"> swearters</label>
                            <label><input type="checkbox" class="chkCategory" value="others"> others</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <h4>size</h4>
                        <div class="checkbox-shipping">
                            <label><input type="checkbox" class="chkTest" value="abc"> x</label>
                            <label><input type="checkbox" value=""> xs</label>
                            <label><input type="checkbox" value=""> s</label>
                            <label><input type="checkbox" value="" checked="checked"> m</label>
                            <label><input type="checkbox" value=""> l</label>
                            <label><input type="checkbox" value=""> xl</label>
                            <label><input type="checkbox" value=""> xxl</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <h4>color</h4>
                        <div class="checkbox-shipping">
                            <label><input type="checkbox" value=""> beige</label>
                            <label><input type="checkbox" value=""> black</label>
                            <label><input type="checkbox" value=""> white</label>
                            <label><input type="checkbox" value=""> gray</label>
                            <label><input type="checkbox" value=""> blue</label>
                            <label><input type="checkbox" value="" checked="checked"> yellow</label>
                            <label><input type="checkbox" value=""> red</label>
                            <label><input type="checkbox" value=""> brown</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <h4>Price</h4>
                        <div class="checkbox-shipping">
                            <label><input type="checkbox" value="" checked="checked"> <span class="price"></span> 10</label>
                            <label><input type="checkbox" value=""> <span class="price"></span> 10-25</label>
                            <label><input type="checkbox" value=""> <span class="price"></span> 26-50</label>
                            <label><input type="checkbox" value=""> <span class="price"></span> 51-100</label>
                            <label><input type="checkbox" value=""> <span class="price"></span> 101</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Sort by  list filter-->
    <div class="container">
        <!--Products List-->
        <div class="product producthover row top-mini">
            @foreach (var item in lstMask)
            {
                <!--Item-->
                <div class="col-lg-4 col-md-3 col-sm-4">
                    <div class="product-hover">
                        <a href="#">
                            <!--Image Product-->
                            <div class="image-product">
                                <img src="@item.PictureUrl" alt="">
                            </div>
                            <!--Image Product-->
                            <!--Description Product-->
                            <div class="text-uppercase hover-description center">
                                <h4>@item.ProductName</h4>
                                <p>@Utilities.FormatAmountToVnd(item.Price.ToString())</p>
                                <div class="boton-dark top-mini">add to cart</div>
                            </div>
                            <!--Description Product-->
                        </a>
                    </div>
                </div>
                <!--Item-->
            }
        </div>
       
        <div class="row">
            <!--Pagination-->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="top pagination-view">
                    <p>Viewing 12 out of 36 products</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 pag-right">
                <ul class="pagination top">
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">NEXT</a></li>
                    <li><a href="#" class="next"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
            <!--Pagination-->
        </div>
        <!--Products List-->
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".chkCategory").click(function () {
                var dt = [];
                $.each($(".chkCategory:checked"), function() {
                    dt.push($(this).val());
                });
                $.ajax({
                    type: "POST",
                    url: "/Mask/Filter",
                    data: { @GlobalVariable.ListCategoryFilter : dt },
                    datatype: "html",
                    success: function(resp) {
                        alert(resp.html);
                    }
                });
            });
        });
    </script>
}